/*====================*/
/*Basic setup*/
/*=======================================================*/
*{
	padding: 0;
	margin: 0;
	box-sizing:border-box; 
}
body{
	font-family: 'Titillium Web', sans-serif;
	text-rendering: optimizeLegibility;
	line-height: 1.3;
	}
ul li{
	list-style-type: none;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}
.clearfix::after{
	content: '';
	display: table;
	clear: both;
	height: 0;
	visibility: hidden;
}



/*========================================================*/
/*Reusble component*/
/*=========================================================*/


.row{
	max-width: 100rem;
	margin: 0 auto;
}
section{
	padding: 8rem 0;
}
h2{
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 1rem;
	letter-spacing: .4rem;
	color: #fff;
	text-align: center;
}
h2::after{
	content: '';
	display: block;
	height: .4rem;
	background-color:rgba(20,165,140);
	width: 8.5rem;
	margin: auto;
	margin-top:2rem; 
}
h3{
	font-size: 2.4rem;
	text-transform: uppercase;
	margin-bottom: 1.8rem;
	font-weight: 600;
}
.box{
	padding: 1%;
}
.box p{
	font-size: 1.5rem;
	font-weight: 300;
}


/*============================================================*/
/*Header section*/
/*==========================================================*/
header{
	background:linear-gradient(rgb(135,80,156,.7),rgb(135,80,156,.7)),url(3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 85vh;
	position: relative;
}
/*===============HEADDING=================================================*/
h1{
	font-size: 3.3rem;
	color: #fff;
}
/*===============================BUTTON=======================================*/
.btn,
.btn:link,
.btn:visited{
	background:#0684F2;
	color: #fff;
	text-decoration: none;
	border-bottom: 0.3rem solid #95c5f0;
	text-transform: uppercase;
	padding: 1.3rem 4rem;
	display: inline-block;
	border-radius:0.3rem;
	margin-top:2.5rem;
	font-size: 1.8rem; 
}

/*=============================logo part===============================================================*/

.logo{
	height: 4rem;
	width: auto;
	margin-top: 4rem;
	float: left;
}
/*================Pragrape=======================*/
.littel-test{
	font-size: 1.8rem;
	width: 60%;
	margin-left: 20%;
	line-height: 3rem;
}
/*==================================navigation bar=================================*/
.mine-nav{
	float: right;	
	margin-top:4rem;

}
.mine-nav li{
	display: inline-block;
	margin-left: 2rem;

}
.mine-nav li:frist-child{
	margin-left: 0rem;
}
.mine-nav li a:link,
.mine-nav li a:visited{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	background:rgb(10,175,241,0);
	padding: 0.3rem 1.6rem;
	border-radius: 0.3rem;
	display: inline-block;
	font-size: 1.6rem;
	transition: 1s;
}
.mine-nav li:hover a:link,
.mine-nav li:hover a:visited{
	background:rgb(10,175,241,1);


}
.active{
	background:rgb(10,175,241,1);
	border-radius: 0.3rem;
}

.sticky{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: black;
	padding: 1rem 0;
}
.sticky .logo{
	margin-top: 0;
}

.sticky .mine-nav{
	margin-top: .2rem;
}

.hero-text-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.btn-heto:link,
.btn-heto:visited{

	background-color: #0684F2;
	border-bottom: 0.3rem solid #95c5f0;
}
/*============================================================*/
/*Servise section*/
/*==========================================================*/
.servise-section{
	color: #fff;
	text-align: center;
	background:linear-gradient(rgb(23,194,164,.7),rgb(23,194,164,.7)),url(4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.service-icon{
	height: 12rem;
	margin-top:3.5rem;
	margin-bottom:2.5rem; 
}
/*============================================================*/
/*Team work section*/
/*==========================================================*/
.team-section{
	background:linear-gradient(rgb(10 255 250 / 80%),rgb(131 226 234 / 80%)),url(claint.jpg);
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.team-section h2{
	color: rgb(60,71,97);
	font-weight: 600;
}
.team-section h2::after{
	content: '';
	display: block;
	height: .4rem;
	background-color:rgba(200,217,229);
	width: 8.5rem;
	margin: auto;
	margin-top:2rem; 
}
.team-section .littel-test{
	font-size: 1.5rem;
	color: rgb(94,105,127);
}
.team-menber{
	border-radius: 50%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 10rem;
	height: 10rem;
}

.team-section .row p{
	margin-top: 1.5rem;
	color: #333333;
}

span{
	color:#485256;
	font-size: medium;
	text-transform: capitalize;
	font-style: bold;
}
.team-section h3{
	margin-bottom: -0rem;
}
.socile-icon{
	margin-top: 1.5rem;
}
.socile-icon ul li{
	display: inline-block;
	margin-right: 0.8rem;
	

}
.socile-icon ul li a{
	color: #fff;	
}
.socile-icon ul li a:link i::before{
	background-color:rgb(11 108 115);
	width: 2rem;
	height: 2rem;
	font-size: 2rem;
	display: inline-block;
	border-radius: 50%;
	padding: 1rem;
	transition:1s;

}
.socile-icon ul li a:hover i::before{
	background-color: #393939;
	transform: rotate(1440deg);
}
/*============================================================*/
/*skill work section*/
/*==========================================================*/

.skill-section{
	color: black;
	background:linear-gradient(rgb(10 255 12 / 80%),rgb(205 226 247 / 80%)),url(1.jpg);
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.skill-section h2{
	color:#060505;
}
.skill-section .box{
	margin-top: 4.5rem;
}
 svg.web_design circle {
	stroke: rgb(31 11 156 / 80%);
	
}
svg.E_commerce circle {
	stroke: rgb(11 108 115);
	
}
svg.wordpress circle {
	stroke: rgb(45 187 40);
	
}
svg.html_css circle {
	stroke: rgb(165 158 42 / 80%);
	
}

/*============================================================*/
/*portfolio  section*/
/*==========================================================*/
.portfolio_section{
		background:linear-gradient(rgb(57 191 202 / 72%),rgb(25 74 62 / 80%)),url(6.jpg);
		text-align: center;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
	}
.portfolio_section h2{
	color:white;
}

.portfolio_section h2::after{
	background:#44d048;

}
.portfolio_section img{
	width: 100%;
	height: 27rem;
}
.portfolio-filter{
	margin: 3.5rem 0;
}
.portfolio-filter button{
	background:#1580cc;
	font-size: 1.8rem;
	padding: 1rem 2rem;
	border:0;
	border-radius: 0.5rem;
	text-transform: uppercase;
	margin: 0 .5rem;
	transition: .5s;
	box-shadow: 1rem black;
}
.portfolio-filter button:hover{
	cursor: pointer;
	box-shadow: inset .2rem .3rem 0.5rem rgb(68 66 4 / 50%);
	background-color:#00807d;
}
.portfolio_section .col:nth-child(3){
	margin-left: 0;
}


.portfolio_section h4{
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
	margin-top: 1rem;
}
.portfolio_section .btn-load{
	background-color:#1580cc;
	border-radius: 0.5rem;
	box-shadow: 1rem black; 
}
/*============================================================*/
/*portfolio  section*/
/*==========================================================*/

.contact-section{
	text-align: center;
	background-color: #3c5499;
}
.contact-section h2::after{
	background-color: #273a71;
}
.contact-section .littel-test{
	color: #fff;
}
.contact-section form{
	margin-top: 5rem;
	width: 70%;
	margin-left: 15%;
	

}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
	background-color: #273a71;
	border:.1rem solid  #273a71;
	width: 100%;
	padding: 1.5rem;
	border-radius: .5rem;
	font-size: 1.5;
	color: #fff;
	margin:0.5rem 0;
}
.contact-section form ::placeholder{
	color: #fff;
	opacity: 1;
}

.contact-section input[type="submit"]{
	background-color:#30e2ce; 
}
.btn-submit{
	cursor: pointer;
	border-bottom: .3rem solid #299ec5;
	border-radius: .5rem;
}
/*============================================================*/
/*portfolio  section*/
/*==========================================================*/
.footer-section{
	background-color: #4d4f56;
	padding: 3rem 0;
	text-align: center;
	border-top: .2rem solid #908787;
}
.footer-section li{
	display: inline-block;
	margin: 0 2rem;
}
.footer-section li a{
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 2rem;
	text-align: center;
}
.footer-section li a:hover{
	color: #52bd73;
	cursor: pointer;
}